/** 
 * Code Editor:
 * Es un contenedor con la apariencia de un editor de código.
 * Está formado por:
 * 1- Una barra superior de título (editor-tab) utilizada 
 * para mostrar el nombre del archivo que contiene la sección del código documentado.
 * 2- Area del editor - es el área donde se mostrará la parte del código documentado.
 *
 * Se hace uso de la libreria heighlight para el resaltado del código.
 *
*/
.code-editor {
    color: #5c6370;
    margin-top: 20px;
    border-radius: 7px;
    background-color: #282c34;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    /* width: 340px; */
}

.code-editor pre { margin: 0px; }

.editor-tab {
    display: flex;
    color:#989faa;
    min-width: 100px;
    font-size: 16px;
    font-style: italic;
    padding-left: 10px;
    background-color: #282c34;
    border-radius: 7px 7px 0px 0px;
    background-color: rgb(56, 59, 65);
    height: 27px;
    align-items: center;

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.editor-area { padding: 1em; }




/** 
 * heighlight Classes 
 * Al utilizar la libreria heighlight, modificar los siguientes valores de las clases
 * de abajo ya que se utiliza la libreria heighlight sólamente para el resaltado de código.
*/
pre code.hljs { padding: 0px 0px 0px 0px; }

pre code.hljs {
    display: block;
    overflow-x: hidden;
    padding: 1rem;
}



.editor-area pre code {
    /*overflow-y: auto;*/
    overflow-x: auto;
    padding: 0.525rem 1rem;
}

ul li .code-editor,
ol li .code-editor,
ul li .render-demo,
ol li .render-demo {
    /* margin-left: -30px;
    margin-right: -10px; */
    margin-inline-start: -30px;
    margin-inline-end: -10px; 
}








/**
 * Render Demo
 * Contenedor donde se visualiza ó renderiza el código de ejemplo de una sección.
 *
 */
.render-demo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.3);
}

.render-demo__header {
    padding: 7px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #dddddd;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.render-demo__body {
    padding: 10px 10px;
    background-color: rgb(255, 255, 255);
}

.render-demo__footer {
    padding: 4px 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgb(255, 255, 255);
}

.render-demo__footer p {
 padding: 0;
 margin: 0;
}

















/* Mobile - Estilos en pantallas pequeñas */
@media (max-width: 768px) {
    
    .xxxcontent{
        width: 95vw;
    }
    .xxxcode-editor{
        width: 100%;
    }
}

/* Desktop - Cuando el usuario redusca el tamano de la ventana del navegador */
@media (min-width: 768px) {
    .xxxcontent{
        width: 95vw;
    }
    .xxxcode-editor{
        width: 100%;
    }

    ul li .code-editor,
    ol li .code-editor,
    ul li .render-demo,
    ol li .render-demo {
        /* margin-left: -30px;
        margin-right: -10px; */
        margin-inline-start: 0px;
        margin-inline-end: 0px; 
    }
}

/* Desktop - Estilos en pantallas grandes */
@media (min-width: 1024px) {

    .xxxside-bar { display: flex;}
    
    .xxxcode-editor{
        width: 860px;
    }
    
}

















/* Estilo general de la barra de desplazamiento */
.xxxeditor-area pre code::-webkit-scrollbar {
    width: 12px;              /* Ancho de la barra de desplazamiento vertical */
    height: 20px;             /* Altura de la barra de desplazamiento horizontal */
    background-color: rgba(240, 240, 240, 0.1); /* Color de fondo del scrollbar */
    /* border-radius: 10px; */
}

/* Estilo del "thumb" (la parte que se mueve) */
.xxxeditor-area pre code::-webkit-scrollbar-thumb {
    background-color: rgba(177, 177, 177, 0.2);   /* Color de la barra de desplazamiento */
    border-radius: 10px;      /* Esquinas redondeadas */
    border: 2px solid rgba(240, 240, 240, 0.2); /* Bordes alrededor del thumb, simula un margen */
}

/* Estilo de los botones de la barra de desplazamiento */
.xxxeditor-area pre code::-webkit-scrollbar-button {
    background-color: #ccc;   /* Color de los botones de desplazamiento */
    display: block;
    height: 20px;
}

/* Estilo del track (la pista sobre la que se desplaza el thumb) */
.xxxeditor-area pre code::-webkit-scrollbar-track {
    background-color: #e0e0e0; /* Color de fondo del track */
    border-radius: 10px;
}

/* Estilo del track-piece (las partes vacías del track) */
.xxxeditor-area pre code::-webkit-scrollbar-track-piece {
    background-color: #d0d0d0; /* Color de las piezas vacías del track */
}

/* Estilo de la esquina donde se cruzan los scrollbars (en cajas que tienen ambos scrolls) */
.xxxeditor-area pre code::-webkit-scrollbar-corner {
    background-color: #999;    /* Color de la esquina del scrollbar */
}

/* Estilo de la parte del scrollbar que sobresale (si es necesario) */
.xxxeditor-area pre code::-webkit-scrollbar-resizer {
    background-color: #999;    /* Color del resizer */
}