/**
 * Side Bar
 */
 :root{
    --sidebar-nav-width: 250px;
    --sidebar-nav-padding: 10px;
 }



 #sidebar-container{
    height: 100vh;
    width: calc(var(--sidebar-nav-width) + (var(--sidebar-nav-padding) * 2));
    width: var(--sidebar-nav-width);
    background-color: rgb(221, 49, 49);



    display: flex;
    flex-direction: column;
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */

    height: 100vh; /* Altura completa de la ventana */
    /* width: var(--sidebar-nav-width); */
    padding: var(--sidebar-nav-padding);
    /* margin: -10px 10px 0; */
    background-color: #fff;
    /* border-right: 1px solid rgb(221, 221, 221, 0.4); */
    /* border-right: 1px solid var(--border-color-gray); */

    /* display: none; */

    /* background-color: red; */
 }

.sidebar {
    display: flex;
    flex-direction: column;
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */

    height: 100vh; /* Altura completa de la ventana */
    width: var(--sidebar-nav-width);
    padding: var(--sidebar-nav-padding);
    /* margin: -10px 10px 0; */
    background-color: #fff;
    /* border-right: 1px solid rgb(221, 221, 221, 0.4); */
    border-right: 1px solid var(--border-color-gray);

    /* display: none; */

    background-color: transparent;
    
}

.sidebar--fixed {
    left: 0;
    z-index: 998;
    position: fixed;
}

.sidebar__link {
    display: flex;
    /* width: 100%; */
    padding: 5px 15px;
    text-align: left;
    align-items: center;
    border-radius: 4px;
    color: rgba(0,0,0,0.8);
    /* background-color: red; */
}

.sidebar ul {
    margin: 2px;
}

.sidebar ul li {
    margin: 2px;
}

.sidebar__link a {
    /* width: 100%; */
    /* display: block; */
    /* background-color: green; */
}

.sidebar__link:hover {
    color: rgba(0,0,0,1);
    background-color: rgb(0, 0, 0, 0.1) !important;
}

.sidebar__link.active {
    color: #fff;
    background-color: rgb(42, 92, 255) !important;
    color: rgba(0,0,0,1);
    background-color: rgb(0, 0, 0, 0.1) !important;
}


.sidebar__link.active {
    font-weight: bold;
    /* color: blue; */
}





.main-container {
    display: flex;
}

.main-content {
    flex: 1;
}
.xxx-main-content {
    width: 70%;
}

.section {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    /* margin-left: auto; */
    margin-right: auto;
}




.sub-menu-course-mobile {
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    

}

.sub-menu-course-mobile .sidebar__link {
    /* width: 100px; */
    /* margin-left: auto;
    margin-right: auto; */
    /* align-items: center; */
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}











/* Mobile - Estilos en pantallas pequeñas */
@media (max-width: 768px) {

    .sub-menu-course-mobile {display: flex;}

    #sidebar-container,
    .sidebar {
        display: none;
    }
    
    .main-content{
        width: 100vw;
    }
}

/* Desktop - Cuando el usuario redusca el tamano de la ventana del navegador */
@media (min-width: 769px) {
    .content{
        /* width: 95vw; */
    }
}

/* Desktop - Estilos en pantallas grandes */
@media (min-width: 1024px) {
    /* .side-bar { display: flex;} */
}
