@import "top-navbar.css";
@import "sidebar.css";
@import "cards.css";
@import "code-editor.css";
@import "modal.css";
@import "buttons.css";

html {
    font-size: 16px; /* Establece la base a 16px, esto hace que 1rem = 16px */
    font-family: roboto;
    letter-spacing: .031rem; 
}

body, html {
	height: 100%;
	margin: 0;
    padding: 0;
	display: flex;
	flex-direction: column;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav ul li a:hover {
    color: #007BFF;
}

p {
    line-height: 1.475rem;
}

ol, ul { padding-inline-start: 20px; }
ol ul { list-style-type: disc}
ul li{ margin-block-start: 1rem; margin-block-end: 1rem;}

.tag-wrapper {
    padding: 1px 3px;
    border-radius: 5px;
    font-weight: 500;
    background-color: #e2e2e2;
}

.h-bg {
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 2px solid #858585;
}

h1 {
    font-size: 22px; /* 32px */
}

h2 {
    font-size: 20px; /* 24px */
}

h3 {
    font-size: 18px; /* 18.72px */
}

h4 {
    font-size: 16px; /* 16px */
}

h5 {
    font-size: 14px; /* 13.28px */
}

h6 {
    font-size: 12px; /* 10.72px */
}










/* Mobile - Estilos en pantallas pequeñas */
@media (max-width: 768px) {
    
    .content{
        width: 95vw;
    }
}

/* Desktop - Cuando el usuario redusca el tamano de la ventana del navegador */
@media (min-width: 768px) {
    ol, ul { padding-inline-start: 40px; }
}

/* Desktop - Cuando el usuario redusca el tamano de la ventana del navegador */
@media (min-width: 769px) {
    .content{
        width: 95vw;
    }
}

/* Desktop - Estilos en pantallas grandes */
@media (min-width: 1024px) {
    .side-bar { display: flex;}
}